@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Festive&family=Rubik&display=swap');
body{
  background-image: url(../img/fondo_principal.jpg);
}
h1,h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}
h1{
  font-size: 40px;
}
li,ul,a {
  font-family: 'Rubik',sans-serif;
  font-size: 20px;
}
.cuerpo{
  color: white;
  width: 60% ;
  background-color: black;
  margin: 0px auto;
  border: white solid;
}
.titulo{
  text-align: center;
  padding: 10px
}
.datos{
  padding: 15px;
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
}
.links {
  padding: 15px;
}
